<app-header></app-header>

<div class="flex flex-col max-w-5xl mx-auto my-6 gap-6 px-4 sm:px-6 lg:px-0">
  <div
    class="flex flex-col sm:flex-row justify-between items-start sm:items-center border-b border-gray-200 pb-4 gap-2 sm:gap-0"
  >
    <div>
      <h1 class="text-xl text-gray-600">Factura Electrónica</h1>
      <p class="text-gray-400 text-sm mt-1">Ticket: {{ TICKET }}</p>
    </div>

    <div class="flex flex-wrap gap-2 text-xs">
      <button
        (click)="loadPdf()"
        class="flex items-center gap-2 px-3 py-1 sm:px-4 sm:py-2 text-gray-600 hover:text-gray-800 transition cursor-pointer"
      >
        <mat-icon>picture_as_pdf</mat-icon>
        Ver PDF
      </button>

      <button
        (click)="downloadXml()"
        class="flex items-center gap-2 px-3 py-1 sm:px-4 sm:py-2 text-gray-600 hover:text-gray-800 transition cursor-pointer"
      >
        <mat-icon>file_download</mat-icon>
        XML
      </button>

      <button
        (click)="downloadCdr()"
        class="flex items-center gap-2 px-3 py-1 sm:px-4 sm:py-2 text-gray-600 hover:text-gray-800 transition cursor-pointer"
      >
        <mat-icon>cloud_download</mat-icon>
        CDR
      </button>
    </div>
  </div>

  <div class="overflow-hidden relative h-[50vh] sm:h-[70vh]">

    @if(isLoadingPdf) {
      <div
      class="absolute inset-0 bg-white/60 backdrop-blur-sm flex flex-col items-center justify-center z-50"
    >
      <mat-progress-spinner
        mode="indeterminate"
        color="primary"
        diameter="40"
      ></mat-progress-spinner>
      <p class="text-gray-500 mt-3">Cargando PDF...</p>
    </div>
    }

    @if (errorMsg && !isLoadingPdf) {
      <div
      class="absolute inset-0 flex flex-col items-center justify-center text-center p-4 sm:p-6"
    >
      <div class="bg-red-50 border border-red-200 p-6 rounded-xl">
        <p class="text-red-600 font-medium mb-2">No se pudo cargar el documento</p>
        <p class="text-sm text-red-500">{{ errorMsg }}</p>
        <button (click)="loadPdf()" class="mt-4 text-blue-500 hover:underline">
          Intentar nuevamente
        </button>
      </div>
    </div>
    }


    @if (pdfSafeUrl && !isLoadingPdf) {
    <iframe
      [src]="pdfSafeUrl"
      class="w-full h-full"
      frameborder="0"
    ></iframe>

    }

  </div>
</div>
