<header class="bg-white border-b border-gray-200">
  <div class="mx-auto px-6 py-4 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <app-logo></app-logo>
    </div>

    <nav class="flex items-center gap-6">
      <button
        (click)="logout()"
        class="text-red-600 hover:text-red-800 cursor-pointer transition bg-red-50 px-3 py-1 rounded-lg hover:bg-red-100 flex items-center gap-1"
      >
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </nav>
  </div>
</header>
